.images{
    height: 200px;
}

.div{
    display: flex;
    justify-content: space-between;
}

.hello{
    border-radius: 0;
    margin: 1.0rem 1.0rem 2.0rem 0.4rem;
}

.margin{
    margin-left: 5.0rem;
}